<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>  successfully loged in </title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
  </head>
  <body>
      <form action="/system" method="post">
      
        <div class="center">
          <h1>hello mr </h1>
          <h1>{{ user }} </h1>
          <div>
            <h1>
              Search for any thing by saying it
            </h1>
          </div>
          <input type="submit" value="speak to search">
        </div>

      </form>
      
      
    </body>
</html>
